@font-face{
  font-family: "Overpass";
  src: url("fonts/Overpass/Overpass-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}


@font-face{
  font-family: "Overpass";
  src: url("fonts/Overpass/Overpass-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face{
  font-family: "Overpass";
  src: url("fonts/Overpass/Overpass-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

html *
{
   font-family: "Overpass";
}

body {
  font-family: "Overpass";
  font-size: 9pt;
  margin-left: 2%;
  margin-right: 2%;
}

.desc {
  margin-right: 5%;
  text-align: justify;
  text-justify: inter-word;
  font-size: 11pt;
}

label {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.var-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
}

.var-title {
  text-align: center;
  font-weight: bold;
  min-width: 120px;
}

.dash-graph {
  margin-left: 0%;
}
